<section class="photos">
  <div class="container">
    <div class="wrapper">
    <div class="category mb-4">
      <h2>CATEGORIES</h2>
    </div>
      <div class="mb-3"><%= render "shared/line" %></div>
      <figure>
        <div class="post-image btn-container"><%= image_tag "web.jpg", class: "h-100" %><button class="btn btn-primary child">CODING</button></div>
        <div class="post-image btn-container"><%= image_tag "walk.jpg", class: "h-100" %><button class="btn btn-primary child">TRAVEL</button></div>
      </figure>
      <!-- triple image row-->
      <figure>
        <div class="post-image btn-container"><%= image_tag "product.jpg", class: "h-100" %><button class="btn btn-primary child">MISCELLANEOUS</button></div>
        <div class="post-image btn-container"><%= image_tag "sunset.jpg", class: "h-100" %><button class="btn btn-primary child">PHOTOGRAPHY</button></div>
        <div class="post-image btn-container"><%= image_tag "music.jpg", class: "h-100" %><button class="btn btn-primary child">MUSIC</button></div>
      </figure>
    </div>
  </div>
</section>
