<div class="container">
  <div class="wrapper">
    <!-- single image row-->
    <figure>
      <div class="post-image"><%= image_tag "photography.jpg", class: "h-100" %></div>
    </figure>
    <!-- double image row-->
    <figure>
      <div class="post-image"><%= image_tag "web.jpg", class: "h-100" %></div>
      <div class="post-image"><%= image_tag "walk.jpg", class: "h-100" %></div>
    </figure>
    <!-- triple image row-->
    <figure>
      <div class="post-image"><%= image_tag "product.jpg", class: "h-100" %></div>
      <div class="post-image"><%= image_tag "sunset.jpg", class: "h-100" %></div>
      <div class="post-image"><%= image_tag "music.jpg", class: "h-100" %></div>
    </figure>
  </div>
</div>
