<div class="container">
  <h1>Blog Index</h1>
    <h2>Posts</h2>
      <div class="cards">
        <div class="row cards-space">
          <% @posts.each_with_index do |post, key| %>
            <div class="card col-sm-12 col-lg-3 p-0">
              <%= cl_image_tag post.photo.key, class: "card-imgs" %>
              <div class="category-section">
                <h4><%= post.category.name %></h4>
              </div>
              <%= link_to post_path(post) do %>
              <div class="card-underline">
                <h5 class="card-title ms-3 mt-3"><strong><%= post.title %></strong></h5>
              <% end %>
              </div>
              <p class="card-content ms-3">
              <%= post.content ? post.content.truncate(35) : "" %>
              </p>
            </div>
            <% end %>
        </div>
    </div>
</div>
